.expired_container {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.expired_container_button-container {
    margin-top: 1.5rem;
}

.expired_icon {
    font-size: 5rem;
    color: #ffc842;
}